.common-dialog {
	width: 360px;
	height: 280px;
	border-radius: 5px;
	background-color: white;
	color: white;

	.x-dialog-header {
		height: 170px;
		width: 100%;
		top: -52px;
		left: 0;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.x-dialog-content {
		height: 105px;
		margin-top: 118px;
		padding: 14px 30px;
		color: #39426a;
		text-align: center;
		background-color: white;

		.link {
			cursor: pointer;
			color: #0088ff;
			text-decoration: underline;
		}
	}

	.x-dialog-btns {
		margin-bottom: 25px;

		.x-dialog-btn {
			&.cancel {
				width: 100px;
				height: 32px;
				border-radius: 49px;
				letter-spacing: 4px;
			}

			&.confirm {
				width: 100px;
				height: 32px;
				border-radius: 49px;
				letter-spacing: 4px;
			}
		}
	}

	&.info {
		.x-dialog-header {
			background-image: url(../image/dialog-info.png);
		}

		.x-dialog-btn {
			&.cancel {
				display: none;
			}

			&.confirm {
				display: block;
				background-color: #0b7bdc;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.warn {
		.x-dialog-header {
			background-image: url(../image/dialog-warn.png);
		}

		.x-dialog-btns {
			width: 240px;
		}

		.x-dialog-btn {
			&.cancel {
				display: inline-block;
				background-color: #f49604;
			}

			&.confirm {
				display: inline-block;
				background-color: #f49604;
				margin-left: 40px;
			}
		}

		&.warn-info {
			.x-dialog-btn {
				&.cancel {
					display: none;
				}

				&.confirm {
					margin-left: auto;
					margin-right: auto;
					display: block;
				}
			}
		}
	}

	&.pretty {
		.x-dialog-header {
			background-image: url(../image/dialog-pretty.png);
		}

		.x-dialog-content {
			height: 165px;
			border-radius: 5px;
		}

		.x-dialog-btns {
			display: none;
		}
	}
}